.logo {
    position: relative;
    filter: invert(1);
    z-index: 3;
}

.cedetecContainer {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    z-index: -1;
}

.cedetecContainer::after {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(to right, #f9f9f9, rgba(128, 128, 128, 0));
}

.yellowPart {
    position: absolute;
    content: "";
    top: 0;
    left: -20px;
    width: 100%;
    height: 50%;
    min-width: 300px;
    background-color: #d59f0f;
    transform: skew(-45deg);
    z-index: 0;
}
