/* Fondo general */
.contenedor-login {
  display: flex;
  justify-content: center;
  margin-top: auto;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  background: #f3f3f3;
  font-family: sans-serif;
}

.btn-submit {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 12px;
  background: #3b82f6;
  color: white;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Caja principal */
.caja-login {
  margin-top: 0%;
  background: #ffffff;
  padding: 28px 22px;
  border-radius: 16px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 370px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  align-items: center;
}

/* Título */
.titulo-login {
  text-align: center;
  color: #b8860b;
  font-size: 50px;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 10px;
}
.contenedor-login .Usuario {
  color: black;
  text-align: left;
  width: 100%;
  font-size: 20px;
}
.contenedor-login .Password {
  color:black;
  text-align: left;
  width: 100%;
  font-size: 20px;
}
/* Input de correo */
.contenedor-login .cuadro1 {
  width: 98%;             /* Ocupa todo el ancho del contenedor */
  padding: 5px;
  font-size: 20px;
  margin-bottom: 10px;
}

/* Input de contraseña */
.contenedor-login .cuadro2 {
  width: 98%;             /* Ocupa todo el ancho del contenedor */
  padding: 5px;
  font-size: 20px;
  margin-bottom: 20px;
}
.btn-submit{
  background: linear-gradient(90deg, #003d79, #003d79);
    border: none;
    border-radius: 12px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    color: rgb(255, 255, 255);
}
/* Botón Google */
.google-btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: #ffffff;
  border: 1px solid #d1d1d1;
  padding: 14px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  transition: background 0.2s;
}

.google-btn img {
  width: 22px;
  height: 22px;
  
}

.google-btn:hover {
  background: #efefef;
}

/* Inputs */
.login {
  width: 100%;
}


.login input {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  transition: 0.2s;
}

.login input:focus {
  border-color: #b8860b;
  box-shadow: 0 0 0 2px rgba(184, 134, 11, 0.15);
}



/* Ajustes extra para pantallas pequeñas */
@media (max-width: 380px) {
  .caja-login {
    padding: 22px 18px;
    border-radius: 14px;
    margin-top: 5px !important
  }

  .titulo-login {
    font-size: 22px;
  }

  .google-btn {
    padding: 12px;
    font-size: 15px;
  }
}