/* Contenedor centrado */
.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    align-items: center; /* centra el contenido dentro de la card */
    background: #f3f3f3;
}

/* Card principal */
.card-incident {
    width: 350px;
    background: #ffffff;
    padding: 20px;
    border-radius: 16px;
    color: black;
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
    display: flex;
    flex-direction: column;
    
}

.title {
    font-size: 20px;
    font-weight: bold;
    color: #b8860b;
    margin: 0 0 10px 0;
}

.subtitle {
    font-size: 14px;
    opacity: 0.9;
    color: black;
    margin-bottom: 15px;
    text-align: center;
}

.chips-container {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 15px;
    justify-content: center; /* centra los chips */
}

.chip {
    padding: 6px 12px;
    background: #0059c9;
    border: none;
    border-radius: 20px;
    color: #ffffff;
    font-size: 13px;
    cursor: pointer;
    transition: 0.2s;
}

.chip:hover {
    transform: scale(1.05);
}

.chip-selected {
    background: #003f8d;   /* azul más oscuro al estar seleccionado */
    color: #ffffff;
    transform: scale(1.05);
    box-shadow: 0 0 8px rgba(0,0,0,0.3);
}

.textarea {
    width: 90%;
    height: 100px;
    background: #0059c9;
    border: none;
    border-radius: 12px;
    padding: 10px;
    color: #ffffff;
    resize: none;
    margin-bottom: 20px;
}

.textarea::placeholder {
    color: #cccccc;
}

.btn-submit {
    width: 100%;
    padding: 12px;
    background: linear-gradient(90deg, #ffd300, #ffb700);
    border: none;
    border-radius: 12px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    color: black;
}

.btn-submit:hover {
    opacity: 0.9;
}

/* Modal de confirmación */
.modal-enviado {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff;
    padding: 25px 40px;
    border-radius: 16px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    font-weight: bold;
    font-size: 18px;
    color: #004aad;
    z-index: 1000;
    text-align: center;
}
