* {
  padding: 0;
  margin: 0;
  color: #333333;
}

body {
  font-family: var(--font-poppins), sans-serif;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  min-height: 100dvh;
  width: 100dvw;
}

header {
  padding: 5px 40px;
  position: relative;
  overflow: hidden;
  background-color: #f9f9f9;
  z-index: 1;
  height: 57px;
}

header::after {
  content: "";
  top: 0;
  left: -40px;
  position: absolute;
  background-color: rgba(0, 61, 121, 1);
  height: 100%;
  width: 30%;
  min-width: 300px;
  transform: skew(45deg);
  z-index: 1;
}

header::before {
  content: "";
  top: 0;
  left: -20px;
  position: absolute;
  background-color: rgb(1, 92, 184);
  height: 100%;
  width: 30%;
  min-width: 300px;
  transform: skew(45deg);
  z-index: 1;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: rgba(0, 61, 121, 1);
  color: white;
}

.container {
  display: grid;
  grid-template-columns: 1fr 400px;
  align-items: center;
  justify-items: center;
  position: relative;
  padding: 1.5rem;
  margin: 1.5rem auto;
  border: 1px solid #d1d5db;
  border-radius: 4px;
  width: 90%;
  max-width: 1100px;
  height: 520px;
  min-height: 520px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-color: #f9f9f9;
  z-index: 0;
}

.containerSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 500px;
  height: 400px;
  border-radius: 4px;
  padding: 1.5rem;
}


.img {
  position: absolute;
  top: 0;
  right: 0;
  width: 400px;
  height: 615px;
  background-image: url('/rock.jpg');
  background-size: cover;
  background-position: center;
  overflow: hidden;
  z-index: -1;
  opacity: 0.5;
}

.img::after {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(to right, #f9f9f9, rgba(128, 128, 128, 0));
}

input {
  flex: 1;
  min-width: 200px;
  padding: 0.5rem;
  border: 1px solid #cfcfcf;
  border-radius: 4px;
  font-size: 1rem;
  color: black;
}

select {
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #cfcfcf;
  background-color: white;
}

.groupInput {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}


.button {
  padding: 0.5rem 1.25rem;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  max-width: 240px;
}

.buttonSearch {
  background-color: #2563eb;
}

.buttonSearch:hover {
  background-color: #1d4ed8;
}

.buttonCharge {
  background-color: #16a34a;
}

.buttonCharge:hover {
  background-color: #15803d;
}


.buttonContainer {
  display: flex;
  gap: 1rem;
}

ul {
  list-style: none;
}

.containerInput {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.label {
  font-size: 1rem;
  font-weight: bold;
  display: block;
}

a {
  text-decoration: none;
}

.information {
  display: flex;
  flex-direction: column;
  border: 1px solid #e5e7eb;
  padding: 1rem;
  border-radius: 4px;
  background-color: #f3f4f6;
  margin-top: 1rem;
}

.containerForm {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.title {
  top: 0;
  left: 0;
  width: 100%;
  font-size: 1.75rem;
  font-weight: bold;
  text-align: start;
  border-bottom: 1px solid #cfcfcf;
  margin-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

.toggleSection {
  max-width: 600px;
  margin-top: 1rem;
  border: 1px solid #e5e7eb;
  border-radius: 4px;
  background-color: #f9fafb;
}

.toggleGroup {
  display: flex;
  gap: 10px;
  background-color: #f3f4f6;
  border-radius: 6px;
}

.toggleButton {
  flex: 1;
  padding: 0.5rem 1rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
  font-weight: 500;
}

.toggleButton.active {
  background-color: #e5e7eb;
}

.toggleButton.active {
  background-color: #f9fafb;
}

@media(max-width:800px) {
  header {
    padding: 7px;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 600px;
    max-height: 600px;
    border-radius: 0;
  }

  .img {
    right: 50%;
    transform: translateX(50%);
    width: 600px;
    opacity: 1;
    height: 650px;
  }

  .img::before,
  .img::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 1;
  }

  .img::before {
    left: 0;
    background: linear-gradient(to right, #f9f9f9, rgba(128, 128, 128, 0));
  }

  .img::after {
    right: 0;
    background: linear-gradient(to left, #f9f9f9, rgba(128, 128, 128, 0));
  }
}

@media(max-height:960px) {
  .container {
    margin: 0
  }
}
html, body {
    height: 100%;
    overflow:  auto;
}