/* Título y subtítulo */
.titulo-form {
  font-size: 26px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 8px;
  color: #b8860b;
}

.subtitulo-form {
  font-size: 16px;
  text-align: center;
  color: #6b7280;
  margin-bottom: 20px;
}

/* Contenedor */
.contenedor-form {
  width: 100%;
  max-width: 450px;
  margin: 80px auto;
  padding: 35px;
  background: #ffffff;
  border-radius: 20px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Inputs */
.textarea {
  width: 90%;
  padding: 16px 18px;
  border: 2px solid #d1d5db;
  border-radius: 14px;
  font-size: 18px;
  outline: none;
  transition: all 0.3s ease;
  background: #f9fafb;
}

.textarea::placeholder {
  color: #9ca3af;
}

.textarea:focus {
  border-color: #004aad;
  background: #ffffff;
  box-shadow: 0 0 8px rgba(59,130,246,0.4);
}

/* Botón */
.btn-submit {
  width: 100%;
  padding: 16px;
  background: linear-gradient(90deg, #003d79, #003d79);
    border: none;
    border-radius: 12px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    color: rgb(255, 255, 255);
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-submit:hover {
  background: #004aad;
  box-shadow: 0 4px 14px rgba(37,99,235,0.35);
}

.btn-submit:active {
  transform: scale(0.97);
}

/* Error */
.error {
  color: #dc2626;
  font-size: 14px;
  text-align: center;
}
/* Ajustes para pantallas pequeñas */
@media (max-width: 500px) {
  .contenedor-form {
    margin: 40px 10px;  /* reduce márgenes laterales */
    padding: 20px;      /* reduce padding interno */
    max-width: 360px;   /* ancho máximo más pequeño para móviles */
    border-radius: 16px;
  }

  .titulo-form {
    font-size: 22px;
  }

  .subtitulo-form {
    font-size: 14px;
    margin-bottom: 15px;
  }

  .textarea {
    font-size: 16px;
    padding: 12px 14px;
  }

  .btn-submit {
    font-size: 16px;
    padding: 14px;
  }
}


